@font-face {
   font-family: 'main';
   src: url('../media/mvf.ttf')
}

@font-face {
   font-family: 'body';
   src: url('../media/nerdfont.ttf')
}


$background-color: #333333;
$div-color: #000000;
$font-main: main;
$font-body: body;

$text-main-color: #ffffff;
$text_sub-color: #808080;

$code-block-background-color: #666666;




