* {
  color: white;
}


#header-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-Items: flex-start;
  justify-content: center;
  padding: '24px';
}

#header-image {
  display: flex;
  justify-content: center;
  align-Items: center;
}

#download-btn {
  padding: 6px;
  border-radius: 50vw;
  background-color: red;
  border: none;

}

#learn-more-btn {
  border: solid 2px grey;
  background-color: rgba(50,50,50,25);
  padding: 6px;
  border-radius: 50vw;
}
