.manage-design {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #102465;
  gap: 12px;
  text-align: center;
  align-items: center;
  margin-top: 96px;
  padding: 12px;
}

.manage-design .circle-background {
  width: 35vw;
  height: 35vw;
  max-height: calc(1200px * 0.35);
  max-width: calc(1200px * 0.35);
  overflow: visible;
  background-color: #ae77cc;
  border-radius: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 128px;
}

.manage-design p {
  color: #656565;
}

.manage-design h2 {
  font-weight: bold;
}

.manage-design .circle-background img {
  width: 80%;
  height: auto;
  object-fit: initial;
  max-width: none;
}

.md-text img {
  width: 86px;
  height: 86px;
}

.md-text button {
   width: 180px;
}

.manage-design button {
  background-color: #BD32D3;
  font-weight: bold;
  color: white;
  font-size: 16px;
  padding: 18px 40px;
  border-radius: 10px;
  transition: background-color 300ms ease;
}

.manage-design button:hover {
  background-color: #7089F7;
}

@media(min-width: 768px) {
  .manage-design {
    display: grid;
    grid-template: 1fr 35% / 1fr;
    max-width: 1200px;
    margin: auto;      
    margin-top: 96px;
  }

  #md-1 .circle-background {
    grid-area: 1 / 1 / 2 / 2;
  }

  #md-1 .md-text {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  #md-2 .circle-background {
    grid-area: 1 / 2 / 2 / 3;
  }

  #md-2 .md-text {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
