#review {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #102465;
}

#review h2 {
  font-weight: bold;
  font-size: 32px;
  margin: 32px 0px 48px 0px;
}

#review div {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: solid 1px #BD32D3;
  border-radius: 24px;
  padding: 24px;
}

#review img {
  width: 74px;
  height: 74px;
  position: relative;
  top: -60px;
}
